*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0;
    min-height: 100vh;
    background-color: rgba(0,0,0,.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-flow: column nowrap;
    background: #fff;
    padding: 40px;
    border-radius: 6px;
}

input, textarea{
    margin-bottom: 25px;
    padding: 8px;
    border: 2px solid #22AED1;
    border-radius: 6px;
    width:300px;
}

input:last-of-type{
    margin-bottom: 0;
}

label{
    font-size: 14px;
    font-weight: 600;
    color: rgba(0,0,0,.6);
    margin-bottom: 2px;
}

input[type=submit]{
    background-color: #016FB9;
    color:white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    width: 100px;
    transition: outline-offset .05s;
    cursor: pointer;
    outline: 2px solid #016FB9;
    outline-offset: -1px;
}

input[type=submit]:hover{
    outline-offset: 2px;
}

textarea{
    resize: vertical;
    min-height: 100px;
}